* {
  box-sizing: border-box;
  background-color: rgb(194, 197, 194);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(245, 243, 243);
}

button {
  font: inherit;
}