
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');


* {
  box-sizing: border-box;
  background-color: rgb(126, 190, 126);
}

body {
  margin: 0;
  font-family: "Original Surfer", sans-serif;
  font-weight: 600;
  font-style: normal;
  word-spacing: 0.2rex;
  letter-spacing: 0.2rex;
}



a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(245, 243, 243);
}

button {
  font: inherit;
}